{%extends "base.html"%}

{%block title%}gn-auth: View OAuth2 Client{%endblock%}

{%block pagetitle%}View OAuth2 Client{%endblock%}

{%block content%}
{{flash_messages()}}

<h2>Change Oauth2 Client Secret</h2>

<p>You are attempting to change the <strong>CLIENT_SECRET</strong> value for the
  following client:</p>

<table class="table">
  <tbody>
    <tr>
      <td><strong>Client ID</strong></td>
      <td>{{client.client_id}}</td>
    </tr>
    <tr>
      <td><strong>Client Name</strong></td>
      <td>{{client.client_metadata.client_name}}</td>
    </tr>
  </tbody>
</table>

<p>Are you absolutely sure you want to do this?<br />
  <small>Note that you'll need to update your configurations for the client and
    restart it for the settings to take effect!</small></p>

<form id="frm-change-client-secret"
      method="POST"
      action="{{url_for('oauth2.admin.change_client_secret',
              client_id=client.client_id)}}">

  <input type="hidden" name="client_id" value="{{client.client_id}}" />
  <input type="hidden" name="client_name" value="{{client.client_metadata.client_name}}" />

  <div class="form-group">
    <input type="submit" class="btn btn-danger" value="generate new secret" />
  </div>
</form>

{%endblock%}
