<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{subject}}</title>
  </head>
  <body>
    <p>Thank you for registering an account with GeneNetwork.</p>

    <p>
      To avoid bots, we need to verify that you are an actual human. To do so,
      please click the button below
      <a href="{{verification_uri}}"
         style="display: block;text-align: center;vertical-align: center;cursor: pointer;border-radius: 4px;background-color: #336699;border-color: #357ebd;color: white;text-decoration: none;font-size: large;width: 9em;text-transform: capitalize;margin: 1em 0 0 3em;box-shadow: 2px 2px rgba(0, 0, 0, 0.3);">verify your email</a>.</p>

    <p>
      If that fails, please log in to GeneNetwork and copy the verification code
      below when requested:<br /><br />
      <span style="font-weight: bolder;">{{verification_code}}
      </span></p>

    <p style="font-weight: bold;color: #ee55ee;">
      Please note that the verification code will expire in
      <strong>{{expiration_minutes}}</strong> minutes after it was generated.
    </p>
  </body>
</html>
