{%extends "base.html"%}

{%block title%}gn-auth: Forgot Password{%endblock%}

{%block pagetitle%}Forgot Password{%endblock%}

{%block content%}
{{flash_messages()}}

<div class="container-fluid">
  <div class="row"><h1>Forgot Password</h1></div>

  <div class="row">
    <form method="POST"
          action="{{url_for('oauth2.users.forgot_password')}}">
      <div class="form-group">
        <span>
          Provide you email below, and we will send you a link you can use to
          change your password.
        </span>
      </div>

      <div class="form-group">
        <label for="txt-email" class="form-label">Email</label>
        <input type="email" name="email" id="txt-email" class="form-control" />
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Send Link" />
      </div>
    </form>
  </div>

</div>
{%endblock%}
