{%extends "base.html"%}

{%block title%}Authorise User{%endblock%}

{%block pagetitle%}Authenticate to the API Server{%endblock%}

{%block content%}
{{flash_messages()}}
<legend style="margin-top: 20px;">User Credentials</legend>
<div class="container" style="min-width: 1250px;">
<form method="POST" class="form-horizontal" action="{{url_for(
                            'oauth2.auth.authorise',
                            response_type=response_type,
                            client_id=client.client_id,
                            redirect_uri=redirect_uri)}}">
  <input type="hidden" name="response_type" value="{{response_type}}" />
  <input type="hidden" name="redirect_uri" value="{{redirect_uri}}" />
  <input type="hidden" name="scope" value="{{scope | join(' ')}}" />
  <input type="hidden" name="client_id" value="{{client.client_id}}" />
  <div class="form-group">
    <label for="user:email" class="form-label">Email</label>
    <input type="email" name="user:email" id="user:email" required="required"
	   class="form-control"/>
  </div>

  <div class="form-group">
    <label for="user:password" class="form-label">Password</label>
    <input type="password" name="user:password" id="user:password"
	   required="required" class="form-control" />
  </div>

  <div class="form-group">
    <input type="submit" value="authorise" class="btn btn-primary" />
    {%if display_forgot_password%}
    <a href="{{url_for('oauth2.users.forgot_password',
             client_id=client.client_id,
             redirect_uri=redirect_uri,
             response_type=response_type)}}"
       title="Click here to change your password."
       class="form-text text-danger">Forgot Password</a>
    {%endif%}
  </div>
</form>
</div>
{%endblock%}
